<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto-morda</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Coin</th>
          <th scope="col">Buy price</th>
          <th scope="col">Desired price fall</th>
          <th scope="col">Desired price sell</th>
          <th scope="col">Last price</th>
        </tr>
      </thead>
      <tbody>
        {% for coin in coins %}
        <tr>
            <td>{{ coin.name }} </td>
            <td>{{ coin.buy_price }} </td>
            <td>{{ coin.desired_price_fall }} </td>
            <td>{{ coin.desired_sell_price }} </td>
            {% for last_price in coin.last_prices %}
                <td>{{ last_price }} </td>
            {% endfor %}
        </tr>
    {% endfor %}
     </tbody>
</table>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>